@import 'icomoon.css';
@layer base, special;

:root {
  --color-shadow-primary:     #222832;
  --color-shadow-base:        #333e48;
  --color-dark:               #111;
  --blue-light:               #39c;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
}

header {
  min-height: 50px;
  background-color: var(--purple-dark);
}

section {
  padding: 15px;
  margin: auto;
}

section.content-featured {
  background-color: var(--yellow-bg);
  min-height: 100px;
  border-radius: 2rem;
  margin: 15px;
}

@layer base {
  .green {
    background-color: var(--green-dark);
  }

  .green-content {
    color: antiquewhite;
  }
}

@layer special {
  .green {
    background-color: limegreen;
  }

  .green-content {
    color: var(--color-dark);
  }
}

.green-content .featured-excerpt ul {
  margin-top: 1rem;
}

fieldset {
  border: 1px solid var(--green-light);
  background-color: var(--green-light);
  max-width: 500px;
  padding: 16px;
}

legend {
  font-weight: bold;
}

footer {
  max-width: 100%;
  background-color: var(--color-dark);
  position: relative;
  min-height: 50px;
  color: #999999;
}

.main-content {
  max-width: 100%;
}

.main-header {
  text-align: center;
}

.main-footer {
  color: lightcyan;
}

.main-nav {
  height: 75px;
  width: 100%;
}

.main-nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  color: lightblue;
}

.main-nav a {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: white;
}

.main-nav ul,.footer-nav ul {
  list-style: none;
}

/* Font Icons */

.fs1 {
  font-size: 32px;
}

.fs2 {
  font-size: 64px;
}

.glyph {
  font-size: 16px;
  width: 10em;
  padding-bottom: 6em;
  margin-right: 4em;
  padding-top: 4em;
  float: left;
  overflow: hidden;
}

/* @media only screen and (min-width: 640px) {

} */