@import '../../copycats-theme/colors.scss';
 
:root {
    --purple-light:     #{$light-purple};
    --purple-light-100: #{$light-purple-100};
    --purple-dark:      #{$dark-purple};
    --orange-dark:      #{$dark-orange};
    --yellow-bg:        #{$public-yellow};
    --green-dark:       #{$dark-green};   
    --green-light:      #{$highlight-green};
}

// Import Bootstrap
@import '../../bootstrap/bootstrap-grid.scss';
