@font-face {
  font-family: 'Vtypicons';
  src:  url('fonts/Vtypicons.eot?lh6lkv');
  src:  url('fonts/Vtypicons.eot?lh6lkv#iefix') format('embedded-opentype'),
    url('fonts/Vtypicons.ttf?lh6lkv') format('truetype'),
    url('fonts/Vtypicons.woff?lh6lkv') format('woff'),
    url('fonts/Vtypicons.svg?lh6lkv#Vtypicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Vtypicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-inaturalist-co:before {
  content: "\e900";
}
.i-times:before {
  content: "\e901";
}
.i-tick:before {
  content: "\e902";
}
.i-plus:before {
  content: "\e903";
}
.i-minus:before {
  content: "\e904";
}
.i-equals:before {
  content: "\e905";
}
.i-divide:before {
  content: "\e906";
}
.i-chevron-right:before {
  content: "\e907";
}
.i-chevron-left:before {
  content: "\e908";
}
.i-arrow-right-thick:before {
  content: "\e909";
}
.i-arrow-left-thick:before {
  content: "\e90a";
}
.i-th-small:before {
  content: "\e90b";
}
.i-th-menu:before {
  content: "\e90c";
}
.i-th-list:before {
  content: "\e90d";
}
.i-th-large:before {
  content: "\e90e";
}
.i-home:before {
  content: "\e90f";
}
.i-arrow-forward:before {
  content: "\e910";
}
.i-arrow-back:before {
  content: "\e911";
}
.i-rss:before {
  content: "\e912";
}
.i-location:before {
  content: "\e913";
}
.i-link:before {
  content: "\e914";
}
.i-image:before {
  content: "\e915";
}
.i-arrow-up-thick:before {
  content: "\e916";
}
.i-arrow-down-thick:before {
  content: "\e917";
}
.i-starburst:before {
  content: "\e918";
}
.i-starburst-outline:before {
  content: "\e919";
}
.i-star:before {
  content: "\e91a";
}
.i-flow-children:before {
  content: "\e91b";
}
.i-export:before {
  content: "\e91c";
}
.i-delete:before {
  content: "\e91d";
}
.i-delete-outline:before {
  content: "\e91e";
}
.i-cloud-storage:before {
  content: "\e91f";
}
.i-wi-fi:before {
  content: "\e920";
}
.i-heart:before {
  content: "\e921";
}
.i-flash:before {
  content: "\e922";
}
.i-cancel:before {
  content: "\e923";
}
.i-backspace:before {
  content: "\e924";
}
.i-attachment:before {
  content: "\e925";
}
.i-arrow-move:before {
  content: "\e926";
}
.i-warning:before {
  content: "\e927";
}
.i-user:before {
  content: "\e928";
}
.i-radar:before {
  content: "\e929";
}
.i-lock-open:before {
  content: "\e92a";
}
.i-lock-closed:before {
  content: "\e92b";
}
.i-location-arrow:before {
  content: "\e92c";
}
.i-info:before {
  content: "\e92d";
}
.i-user-delete:before {
  content: "\e92e";
}
.i-user-add:before {
  content: "\e92f";
}
.i-media-pause:before {
  content: "\e930";
}
.i-group:before {
  content: "\e931";
}
.i-chart-pie:before {
  content: "\e932";
}
.i-chart-line:before {
  content: "\e933";
}
.i-chart-bar:before {
  content: "\e934";
}
.i-chart-area:before {
  content: "\e935";
}
.i-video:before {
  content: "\e936";
}
.i-point-of-interest:before {
  content: "\e937";
}
.i-infinity:before {
  content: "\e938";
}
.i-globe:before {
  content: "\e939";
}
.i-eye:before {
  content: "\e93a";
}
.i-cog:before {
  content: "\e93b";
}
.i-camera:before {
  content: "\e93c";
}
.i-upload:before {
  content: "\e93d";
}
.i-scissors:before {
  content: "\e93e";
}
.i-refresh:before {
  content: "\e93f";
}
.i-pin:before {
  content: "\e940";
}
.i-key:before {
  content: "\e941";
}
.i-info-large:before {
  content: "\e942";
}
.i-eject:before {
  content: "\e943";
}
.i-download:before {
  content: "\e944";
}
.i-zoom:before {
  content: "\e945";
}
.i-zoom-out:before {
  content: "\e946";
}
.i-zoom-in:before {
  content: "\e947";
}
.i-sort-numerically:before {
  content: "\e948";
}
.i-sort-alphabetically:before {
  content: "\e949";
}
.i-input-checked:before {
  content: "\e94a";
}
.i-calender:before {
  content: "\e94b";
}
.i-world:before {
  content: "\e94c";
}
.i-notes:before {
  content: "\e94d";
}
.i-code:before {
  content: "\e94e";
}
.i-arrow-sync:before {
  content: "\e94f";
}
.i-arrow-shuffle:before {
  content: "\e950";
}
.i-arrow-repeat:before {
  content: "\e951";
}
.i-arrow-minimise:before {
  content: "\e952";
}
.i-arrow-maximise:before {
  content: "\e953";
}
.i-arrow-loop:before {
  content: "\e954";
}
.i-anchor:before {
  content: "\e955";
}
.i-spanner:before {
  content: "\e956";
}
.i-puzzle:before {
  content: "\e957";
}
.i-power:before {
  content: "\e958";
}
.i-plane:before {
  content: "\e959";
}
.i-pi:before {
  content: "\e95a";
}
.i-phone:before {
  content: "\e95b";
}
.i-microphone:before {
  content: "\e95c";
}
.i-media-rewind:before {
  content: "\e95d";
}
.i-flag:before {
  content: "\e95e";
}
.i-adjust-brightness:before {
  content: "\e95f";
}
.i-waves:before {
  content: "\e960";
}
.i-social-twitter:before {
  content: "\e961";
}
.i-social-facebook:before {
  content: "\e962";
}
.i-social-dribbble:before {
  content: "\e963";
}
.i-media-stop:before {
  content: "\e964";
}
.i-media-record:before {
  content: "\e965";
}
.i-media-play:before {
  content: "\e966";
}
.i-media-fast-forward:before {
  content: "\e967";
}
.i-media-eject:before {
  content: "\e968";
}
.i-social-vimeo:before {
  content: "\e969";
}
.i-social-tumbler:before {
  content: "\e96a";
}
.i-social-pinterest:before {
  content: "\e96c";
}
.i-social-linkedin:before {
  content: "\e96d";
}
.i-social-last-fm:before {
  content: "\e96e";
}
.i-social-github:before {
  content: "\e96f";
}
.i-social-flickr:before {
  content: "\e970";
}
.i-at:before {
  content: "\e971";
}
.i-times-outline:before {
  content: "\e972";
}
.i-plus-outline:before {
  content: "\e973";
}
.i-minus-outline:before {
  content: "\e974";
}
.i-tick-outline:before {
  content: "\e975";
}
.i-th-large-outline:before {
  content: "\e976";
}
.i-equals-outline:before {
  content: "\e977";
}
.i-divide-outline:before {
  content: "\e978";
}
.i-chevron-right-outline:before {
  content: "\e979";
}
.i-chevron-left-outline:before {
  content: "\e97a";
}
.i-arrow-right-outline:before {
  content: "\e97b";
}
.i-arrow-left-outline:before {
  content: "\e97c";
}
.i-th-small-outline:before {
  content: "\e97d";
}
.i-th-menu-outline:before {
  content: "\e97e";
}
.i-th-list-outline:before {
  content: "\e97f";
}
.i-news:before {
  content: "\e980";
}
.i-home-outline:before {
  content: "\e981";
}
.i-arrow-up-outline:before {
  content: "\e982";
}
.i-arrow-forward-outline:before {
  content: "\e983";
}
.i-arrow-down-outline:before {
  content: "\e984";
}
.i-arrow-back-outline:before {
  content: "\e985";
}
.i-trash:before {
  content: "\e986";
}
.i-rss-outline:before {
  content: "\e987";
}
.i-message:before {
  content: "\e988";
}
.i-location-outline:before {
  content: "\e989";
}
.i-link-outline:before {
  content: "\e98a";
}
.i-image-outline:before {
  content: "\e98b";
}
.i-export-outline:before {
  content: "\e98c";
}
.i-cross:before {
  content: "\e98d";
}
.i-wi-fi-outline:before {
  content: "\e98e";
}
.i-star-outline:before {
  content: "\e98f";
}
.i-media-pause-outline:before {
  content: "\e990";
}
.i-mail:before {
  content: "\e991";
}
.i-heart-outline:before {
  content: "\e992";
}
.i-flash-outline:before {
  content: "\e993";
}
.i-cancel-outline:before {
  content: "\e994";
}
.i-beaker:before {
  content: "\e995";
}
.i-arrow-move-outline:before {
  content: "\e996";
}
.i-watch:before {
  content: "\e997";
}
.i-warning-outline:before {
  content: "\e998";
}
.i-time:before {
  content: "\e999";
}
.i-radar-outline:before {
  content: "\e99a";
}
.i-lock-open-outline:before {
  content: "\e99b";
}
.i-location-arrow-outline:before {
  content: "\e99c";
}
.i-info-outline:before {
  content: "\e99d";
}
.i-backspace-outline:before {
  content: "\e99e";
}
.i-attachment-outline:before {
  content: "\e99f";
}
.i-user-outline:before {
  content: "\e9a0";
}
.i-user-delete-outline:before {
  content: "\e9a1";
}
.i-user-add-outline:before {
  content: "\e9a2";
}
.i-lock-closed-outline:before {
  content: "\e9a3";
}
.i-group-outline:before {
  content: "\e9a4";
}
.i-chart-pie-outline:before {
  content: "\e9a5";
}
.i-chart-line-outline:before {
  content: "\e9a6";
}
.i-chart-bar-outline:before {
  content: "\e9a7";
}
.i-chart-area-outline:before {
  content: "\e9a8";
}
.i-video-outline:before {
  content: "\e9a9";
}
.i-point-of-interest-outline:before {
  content: "\e9aa";
}
.i-map:before {
  content: "\e9ab";
}
.i-key-outline:before {
  content: "\e9ac";
}
.i-infinity-outline:before {
  content: "\e9ad";
}
.i-globe-outline:before {
  content: "\e9ae";
}
.i-eye-outline:before {
  content: "\e9af";
}
.i-cog-outline:before {
  content: "\e9b0";
}
.i-camera-outline:before {
  content: "\e9b1";
}
.i-upload-outline:before {
  content: "\e9b2";
}
.i-support:before {
  content: "\e9b3";
}
.i-scissors-outline:before {
  content: "\e9b4";
}
.i-refresh-outline:before {
  content: "\e9b5";
}
.i-info-large-outline:before {
  content: "\e9b6";
}
.i-eject-outline:before {
  content: "\e9b7";
}
.i-download-outline:before {
  content: "\e9b8";
}
.i-battery-mid:before {
  content: "\e9b9";
}
.i-battery-low:before {
  content: "\e9ba";
}
.i-battery-high:before {
  content: "\e9bb";
}
.i-zoom-outline:before {
  content: "\e9bc";
}
.i-zoom-out-outline:before {
  content: "\e9bd";
}
.i-zoom-in-outline:before {
  content: "\e9be";
}
.i-tag:before {
  content: "\e9bf";
}
.i-tabs-outline:before {
  content: "\e9c0";
}
.i-pin-outline:before {
  content: "\e9c1";
}
.i-message-typing:before {
  content: "\e9c2";
}
.i-directions:before {
  content: "\e9c3";
}
.i-battery-full:before {
  content: "\e9c4";
}
.i-battery-charge:before {
  content: "\e9c5";
}
.i-pipette:before {
  content: "\e9c6";
}
.i-pencil:before {
  content: "\e9c7";
}
.i-folder:before {
  content: "\e9c8";
}
.i-folder-delete:before {
  content: "\e9c9";
}
.i-folder-add:before {
  content: "\e9ca";
}
.i-edit:before {
  content: "\e9cb";
}
.i-document:before {
  content: "\e9cc";
}
.i-document-delete:before {
  content: "\e9cd";
}
.i-document-add:before {
  content: "\e9ce";
}
.i-brush:before {
  content: "\e9cf";
}
.i-thumbs-up:before {
  content: "\e9d0";
}
.i-thumbs-down:before {
  content: "\e9d1";
}
.i-pen:before {
  content: "\e9d2";
}
.i-sort-numerically-outline:before {
  content: "\e9d3";
}
.i-sort-alphabetically-outline:before {
  content: "\e9d4";
}
.i-social-last-fm-circular:before {
  content: "\e9d5";
}
.i-social-github-circular:before {
  content: "\e9d6";
}
.i-compass:before {
  content: "\e9d7";
}
.i-bookmark:before {
  content: "\e9d8";
}
.i-input-checked-outline:before {
  content: "\e9d9";
}
.i-code-outline:before {
  content: "\e9da";
}
.i-calender-outline:before {
  content: "\e9db";
}
.i-business-card:before {
  content: "\e9dc";
}
.i-arrow-up:before {
  content: "\e9dd";
}
.i-arrow-sync-outline:before {
  content: "\e9de";
}
.i-arrow-right:before {
  content: "\e9df";
}
.i-arrow-repeat-outline:before {
  content: "\e9e0";
}
.i-arrow-loop-outline:before {
  content: "\e9e1";
}
.i-arrow-left:before {
  content: "\e9e2";
}
.i-flow-switch:before {
  content: "\e9e3";
}
.i-flow-parallel:before {
  content: "\e9e4";
}
.i-flow-merge:before {
  content: "\e9e5";
}
.i-document-text:before {
  content: "\e9e6";
}
.i-clipboard:before {
  content: "\e9e7";
}
.i-calculator:before {
  content: "\e9e8";
}
.i-arrow-minimise-outline:before {
  content: "\e9e9";
}
.i-arrow-maximise-outline:before {
  content: "\e9ea";
}
.i-arrow-down:before {
  content: "\e9eb";
}
.i-gift:before {
  content: "\e9ec";
}
.i-film:before {
  content: "\e9ed";
}
.i-database:before {
  content: "\e9ee";
}
.i-bell:before {
  content: "\e9ef";
}
.i-anchor-outline:before {
  content: "\e9f0";
}
.i-adjust-contrast:before {
  content: "\e9f1";
}
.i-world-outline:before {
  content: "\e9f2";
}
.i-shopping-bag:before {
  content: "\e9f3";
}
.i-power-outline:before {
  content: "\e9f4";
}
.i-notes-outline:before {
  content: "\e9f5";
}
.i-device-tablet:before {
  content: "\e9f6";
}
.i-device-phone:before {
  content: "\e9f7";
}
.i-device-laptop:before {
  content: "\e9f8";
}
.i-device-desktop:before {
  content: "\e9f9";
}
.i-briefcase:before {
  content: "\e9fa";
}
.i-stopwatch:before {
  content: "\e9fb";
}
.i-spanner-outline:before {
  content: "\e9fc";
}
.i-puzzle-outline:before {
  content: "\e9fd";
}
.i-printer:before {
  content: "\e9fe";
}
.i-pi-outline:before {
  content: "\e9ff";
}
.i-lightbulb:before {
  content: "\ea00";
}
.i-flag-outline:before {
  content: "\ea01";
}
.i-contacts:before {
  content: "\ea02";
}
.i-archive:before {
  content: "\ea03";
}
.i-weather-stormy:before {
  content: "\ea04";
}
.i-weather-shower:before {
  content: "\ea05";
}
.i-weather-partly-sunny:before {
  content: "\ea06";
}
.i-weather-downpour:before {
  content: "\ea07";
}
.i-weather-cloudy:before {
  content: "\ea08";
}
.i-plane-outline:before {
  content: "\ea09";
}
.i-phone-outline:before {
  content: "\ea0a";
}
.i-microphone-outline:before {
  content: "\ea0b";
}
.i-weather-windy:before {
  content: "\ea0c";
}
.i-weather-windy-cloudy:before {
  content: "\ea0d";
}
.i-weather-sunny:before {
  content: "\ea0e";
}
.i-weather-snow:before {
  content: "\ea0f";
}
.i-weather-night:before {
  content: "\ea10";
}
.i-media-stop-outline:before {
  content: "\ea11";
}
.i-media-rewind-outline:before {
  content: "\ea12";
}
.i-media-record-outline:before {
  content: "\ea13";
}
.i-media-play-outline:before {
  content: "\ea14";
}
.i-media-fast-forward-outline:before {
  content: "\ea15";
}
.i-media-eject-outline:before {
  content: "\ea16";
}
.i-wine:before {
  content: "\ea17";
}
.i-waves-outline:before {
  content: "\ea18";
}
.i-ticket:before {
  content: "\ea19";
}
.i-tags:before {
  content: "\ea1a";
}
.i-plug:before {
  content: "\ea1b";
}
.i-headphones:before {
  content: "\ea1c";
}
.i-credit-card:before {
  content: "\ea1d";
}
.i-coffee:before {
  content: "\ea1e";
}
.i-book:before {
  content: "\ea1f";
}
.i-beer:before {
  content: "\ea20";
}
.i-volume:before {
  content: "\ea21";
}
.i-volume-up:before {
  content: "\ea22";
}
.i-volume-mute:before {
  content: "\ea23";
}
.i-volume-down:before {
  content: "\ea24";
}
.i-social-vimeo-circular:before {
  content: "\ea25";
}
.i-social-twitter-circular:before {
  content: "\ea26";
}
.i-social-pinterest-circular:before {
  content: "\ea27";
}
.i-social-linkedin-circular:before {
  content: "\ea28";
}
.i-social-facebook-circular:before {
  content: "\ea29";
}
.i-social-dribbble-circular:before {
  content: "\ea2a";
}
.i-tree:before {
  content: "\ea2b";
}
.i-thermometer:before {
  content: "\ea2c";
}
.i-social-tumbler-circular:before {
  content: "\ea2d";
}
.i-social-skype-outline:before {
  content: "\ea2e";
}
.i-social-flickr-circular:before {
  content: "\ea2f";
}
.i-social-at-circular:before {
  content: "\ea30";
}
.i-shopping-cart:before {
  content: "\ea31";
}
.i-messages:before {
  content: "\ea32";
}
.i-leaf:before {
  content: "\ea33";
}
.i-feather:before {
  content: "\ea34";
}
